#chat-screen{
    background-color: skyblue;
}
#chat-screen .alt-header{
    position:fixed;
    width:100%;
    box-sizing: border-box;
    top:10px;
    background-color: skyblue;
}

@keyframes fadein{
    from{
        opacity: 0;
        transform: translateY(30px);
    }
    to{
        opacity: 1;
        transform: none;
    }
}
.main-chat{
    margin-top:190px;
    display: flex;
    flex-direction: column;
    align-items: center;
    animation:fadein 0.8s linear;
}

#chat-screen .status-bar{
    z-index:2;
    background-color: skyblue;
}
.chat__timestamp{
    color:white;
    background-color: slateblue;
    padding:8px 15px;
    border-radius: 30px;
    font-size:14px;
    margin-bottom: 25px;
}
.message-row img{
    border-radius: 50%;
    margin-right:15px;
    margin-bottom: 25px;
}

@keyframes fromleft{
    from{
        opacity: 0;
        transform: translateX(-30px);
    }
    to{
        opacity: 1;
        transform: none;
    }
}
.message-row{
    display: flex;
    width:100%;
    animation:fromleft 1s linear;
}
.message__author,
.message__time{
    opacity:0.8;
    font-size: 13px;
    display:block;
    margin-bottom: 8px;
}
.message__bubble{
    background-color: white;
    padding:13px;
    border-radius: 15px;
    border-top-left-radius: 0px;
    margin-right: 5px;
}
.message__info{
    display:flex;
    align-items: flex-end;
}

@keyframes fromright{
    from{
        opacity: 0;
        transform: translateX(30px);
    }
    to{
        opacity: 1;
        transform: none;
    }
}
.message-row--own{
    justify-content: flex-end;
    animation:fromright 1s linear forwards;
    animation-delay: 1s;
    opacity: 0;
}
.message-row--own .message__bubble{
    background-color: yellow;
    border-top-left-radius: 15px;
    border-top-right-radius: 0px;
    margin-right: 0px;
    margin-left: 5px;
}
.message-row--own .message__info{
    flex-direction: row-reverse;
}


.reply{
    position:fixed;
    bottom:0;
    width:100%;
    background-color: white;
    display:flex;
    justify-content: space-between;
    padding:5px 25px;
    box-sizing: border-box;
    align-items: center;
    transition: all 0.3s ease-in-out;
    
}
.reply .reply__column:first-child{
    width:10%;
}
.reply .reply__column:last-child{
    width:90%;
    position: relative;
}
.reply input{
    padding:11px;
    width:100%;
    border:var(--main-border);
    border-radius:20px;
    transition: all 0.3s ease-in-out;
    
    
    
}
.reply__column:last-child > i,
.reply__column:last-child button{
    position:absolute;
    right:-18px;
    top:2px;
}
.reply__column:last-child > i{
    right:15px;
    top:10px;
}
.reply__column button{
    background-color: yellow;
    border:none;
    border-radius: 15px;
    height: 30px;
    width:30px;
}
.reply__column button:focus,
.reply__column button:active{
    outline:none;
}
.reply i{
    opacity: 0.5;
}
.reply__column button i{
    opacity: 1;
}

.reply .reply__column:first-child,
.reply .fa-smile-wink,
.reply button{
    transition: opacity 0.3s ease-in-out;
}
.reply:focus-within .reply__column:first-child,
.reply:focus-within .fa-smile-wink,
.reply:focus-within button{
    opacity: 0;
}

.reply:focus-within input{
    width:90vw;
    transform: translateX(-13%)translateY(-80px);
}

.reply:focus-within{
    transform: translateY(80px);
}
   